<html>
<head>
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />
  <link rel="stylesheet" href="style.css" />
  <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script> 
  
</head>
<body>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-firestore.js"></script>
    <script>
        // Initialize Firebase

        var firebaseConfig = {
        apiKey: "AIzaSyBhT_UgYabv0UZ0KoHw082biu2S4SEyNbw",
        authDomain: "onetimepassword-f8dc6.firebaseapp.com",
        projectId: "onetimepassword-f8dc6",
        storageBucket: "onetimepassword-f8dc6.appspot.com",
        messagingSenderId: "344320674572",
        appId: "1:344320674572:web:b9cf6aeede0c7289aad729",
        measurementId: "G-WNQW4QSNM1"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
      </script>
      <script defer src="dashboard.js"></script>
      <div id = "user_para"></div>
  <div id="user_div" class="loggedin-div">
    <h3>Welcome to One Time Passcode!</h3>
    <p id="user_para">Press "Add Passcode" to create a new One Time Passcode.</p>
    <p id = "hmm"></p>
    <table style="width:100%" id = "passTable">
      <tr>
        <th>Label</th>
        <th>Date of Expiry</th>
        <th>Passcode</th>
        <th>Modify</th>
      </tr>
    </table>
    <button onclick="addPasscode()" style="margin-bottom : 1px;">Add Passcode</button>
    <button onclick="logout()">Logout</button>
  </div>
  <div id="login_div">
      You aren't logged in.
  </div>
  <script src="/__/firebase/8.6.7/firebase-app.js"></script>
  <script src="/__/firebase/8.6.7/firebase-auth.js"></script>
  <script src="/__/firebase/8.6.7/firebase-firestore.js"></script>
  <script src="/__/firebase/init.js"></script>

</body>
</html>
