<html>
<head>
  <title>OneTimePasscode Login</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" /> 
</head>
<body>

  <div id="firebasetest" class="main-div">
    <h3>OneTimePasscode Login</h3>
    <button onclick="loginUI()">Login UI</button>
  </div>
  <div id = "loginblock" class="centerUI" style="display: none;">

  </div>
  <div class="centerUI" style="display:block">
    <button onclick="displayExplanation()" class="linkbutton">What is OneTimePasscode?</button>
  </div>
  <div id = "explanation" class = "expl-div">
    <p>
      There are many Productivity/Self-Control apps out there that require their users to put in a PIN/password
      in order to restrict access to certain time-wasters, with the idea being that users would have a trusted acquaintance
      put a password in for them so that they can't disable the app themselves. Sometimes, however, you might not have 
      a person to give it to, or perhaps you may feel uncomfortable putting a burden on someone else to store and recall 
      the password for you. One Time Passcode seeks to solve this issue. The service generates a unique and random code for
      you to use in an app of your choice, and then immediately hides it from you until a set date. Until that date passes,
      you cannot access that code file, insuring that you won't cheat and look up the code during moments of weakness. Hopefully,
      by the end of the time period, you won't need the passcode anymore!
    </p>
  </div>
  <div id="user_div" class="loggedin-div">
    <h3>Welcome User</h3>
    <p id="user_para">Welcome to Firebase web login Example. You're currently logged in.</p>
    <button onclick="logout()">Logout</button>
  </div>



  
  <script>
    // Initialize Firebase
    var firebaseConfig = {
    apiKey: "AIzaSyBhT_UgYabv0UZ0KoHw082biu2S4SEyNbw",
    authDomain: "onetimepassword-f8dc6.firebaseapp.com",
    projectId: "onetimepassword-f8dc6",
    storageBucket: "onetimepassword-f8dc6.appspot.com",
    messagingSenderId: "344320674572",
    appId: "1:344320674572:web:b9cf6aeede0c7289aad729",
    measurementId: "G-WNQW4QSNM1"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
  <script src="index2.js"></script>

</body>
</html>
